.wrapper {
  display: grid;
  grid-template-columns: 1rem auto;
  grid-gap: 0.25rem;
  align-items: center;
}

.checkbox {
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  background: var(--color-bg);
  border-color: var(--color-border);
  border-width: 1px;
  border-style: solid;
  color: inherit;
  margin: 0;
}
