.container {
  margin: 1rem auto 2rem auto;
  width: 65vw;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.22);
  padding: 2rem;
  border-radius: 0.5rem;
}

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  margin-top: 2rem;
  align-items: start;
}

.theme {
  margin-top: 2rem;
}

@media (max-width: 1700px) {
  .container {
    width: 75vw;
  }
}

@media (max-width: 1500px) {
  .container {
    width: 85vw;
  }
}

@media (max-width: 1300px) {
  .container {
    width: 90vw;
  }
}
